<div style="text-align: center">
    <img src="{{ absolute_url(asset('img/logo.png')) }}" alt="Logo" style="width: 300px; height: auto"><br>
    <h1 style="margin-top: 10px">Bienvenue chez Axelle Magazine !</h1>

    <h3>Vous recevez ce mail car vous vous êtes inscrits à notre newsletter.</h3>

    <h3>A bientot !</h3>
    <p style="font-size: 7.5px">S'il s'agit d'une erreur, vous pouvez nous le signaler à san@antonio.net</p>
</div>
