{% extends 'base.html.twig' %}
{% block body %}

    <div class="row">
        <h2>{{ article.titre }}</h2>
        <div class='col-lg-offset-1 col-lg-10'>
            <img class="center-block img-responsive" src="/uploads/images/articles/{{ article.image }}" alt="image article">
            {{ article.contenu|raw }}
        </div>
    </div>

{% endblock %}