{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-12 articleImage crop">
            <img class="imageContained" src="http://api.adorable.io/avatars/5000/1" alt="">
            <h4 class="articleCaption">Lorem ipsum dolor sit amet</h4>
        </div>
    </div>

    <div class="row margTop">
        {#<h1 class="lowMargTop">- Actualités -</h1>#}
        {% for i in 0..15 %}
            <div class="col-xs-3 articleImage crop">
                <a href="{{ path('article', {'catId': 'test', 'id': i}) }}">
                    <img class="imageContained cropedImage" src="http://api.adorable.io/avatars/500/{{ i+i }}" alt="">
                    <h4 class="articleCaption">Lorem ipsum dolor sit amet</h4>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}