<div class="container-fluid">
    <div class="col-xs-12 newsLetter">
        <div class="col-xs-6 paddingTop text-right">
            <h4><strong>Pour recevoir la newsletter, inscrivez-vous !</strong></h4>
        </div>
        <div class="col-xs-6 text-left">
            <form class="" action="" method="post">
                <h4><input class="text-right" type="email" placeholder="Mon email" required>
                    <button type="submit"><i class="fa fa-envelope" aria-hidden="true"></i></button></h4>
            </form>
        </div>
    </div>
    <div class="col-xs-12 mentions borderTop">
        <ul class="list-inline">
            <li class="itemTopMenu"><a href="">A propos</a></li>
            <li class="itemTopMenu"><a href="">Contact</a></li>
            <li class="itemTopMenu"><a href="">Mentions légales</a></li>
            <li class="itemTopMenu"><a href="">Social</a></li>
        </ul>
    </div>
</div>