<div class="row">
    <div class="col-xs-12 newsLetter">
        <div class="col-xs-6 paddingTop text-right">
            <h4 for="newsLetterMail"><strong>Pour recevoir la newsletter, inscrivez-vous !</strong></h4>
        </div>
        <div class="col-xs-6 text-left">
            <form action="{{ path('subscribe') }}" method="post">
                <h4><input class="text-right" id="newsLetterMail" name="newsLetterMail" type="email" placeholder="Mon email" required>
                    <button type="submit"><i class="fa fa-envelope" aria-hidden="true"></i></button></h4>
            </form>
        </div>
    </div>
    <div class="col-xs-12 mentions borderTop">
        <ul class="list-inline noPadding">
            <li class="list-inline-item"><i class="fa fa-2x fa-facebook-square" aria-hidden="true"></i></li>
            <li class="list-inline-item"><i class="fa fa-2x fa-twitter" aria-hidden="true"></i></li>
            <li class="list-inline-item"><i class="fa fa-2x fa-instagram" aria-hidden="true"></i></li>
        </ul>
        <ul class="list-inline">
            <li class="itemTopMenu"><a href="">A propos</a></li>
            <li class="itemTopMenu"><a href="">Contact</a></li>
            <li class="itemTopMenu"><a href="/mentions">Mentions légales</a></li>
        </ul>
    </div>
</div>