<div class="container-fluid borderTop">
    <div class="col-md-9">
        <ul class="list-inline">
            <li class="itemTopMenu">A propos</li>
            <li class="itemTopMenu">Contact</li>
            <li class="itemTopMenu">Mentions légales</li>
            <li class="itemTopMenu">Social</li>
        </ul>
    </div>
    <div class="col-md-3">
        <form class="" action="" method="post">
            <input class="text-right" type="text" placeholder="Recherche">
            <button type="submit" class=""><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
    </div>
</div>