<div class="container-fluid">
    <div class="col-md-12">
        <a href="{{ path('index') }}"><img src="{{ asset('img/logo.png') }}" alt="Logo" class="img-fluid logo"></a>
    </div>
    <div class="text-logo">
        <p>Le féminin-neutre</p>
    </div>
    <div class="col-md-12">
        <ul class="list-inline borderBottom col-md-12">
            <li class="itemTopMenu"><a href="">Accueil</a></li>
            <li class="itemTopMenu"><a href="">Actualités</a></li>
            <li class="itemTopMenu"><a href="">Tête à tête</a></li>
            <li class="itemTopMenu"><a href=""> Reportages</a></li>
            <li class="itemTopMenu"><a href="">Michel te raconte</a></li>
            <li class="itemTopMenu"><a href="">Axelle te parle</a></li>
            <li class="itemTopMenu"><a href="">Chic en cheap</a></li>
            <li class="itemTopMenu"><a href="">Bonus</a></li>
            <li class="itemTopMenu"><a href="">@follow Axelle</a></li>
            <li class="align-right">
                <form class="" action="" method="post">
                    <input class="text-right" type="text" placeholder="Recherche">
                    <button type="submit" class=""><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </li>
        </ul>
    </div>
</div>
