<div class="container-fluid">
    <div class="col-md-12">
        <a href="{{ path('index') }}"><img src="{{ asset('img/logo.png') }}" alt="Logo" class="img-fluid logo"></a>
    </div>
    <div class="text-logo-bar">
        <div class="text-logo">
            <h1>Le féminin-neutre</h1>
        </div>
    </div>
</div>
