<div class="titleCatAndArt row noPadding">
    <h3>Dernière Actus</h3>
</div>
{% for article in articlesRightMenu %}
    <div class="row sideMenuLink titleCatAndArt">
        <a href="{{ path('article', {'id': article.id}) }}">
            <div class="inlined">
                <img class="col-xs-4 img-sideMenu" src="{{ asset('/uploads/images/articles/') }}{{ article.image }}" alt="">
                <h4 class="col-xs-8">
                    {{ article.titre|length > 15 ?
                    article.titre|slice(0, 15) ~ '...' :
                    article.titre  }}
                </h4>
            </div>
        </a>
    </div>
{% endfor %}
